body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Μαύρο background */
    color: #fff; /* Άσπρο χρώμα για το κείμενο */
}

.responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

.progress-bar {
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
}

.progress {
    background-color: #4CAF50;
    height: 20px;
}

.timeline {
    border-left: 3px solid #4CAF50;
    margin-left: 20px;
}

.timeline-item {
    padding: 10px 20px;
    position: relative;
    margin-bottom: 10px;
}

.timeline-item::before {
    content: '';
    background-color: #4CAF50;
    border-radius: 50%;
    position: absolute;
    left: -9px;
    top: 10px;
    width: 15px;
    height: 15px;
}

.project img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer .social-media {
    margin-bottom: 1em;
}

footer .social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

footer .social-media a:hover {
    text-decoration: underline;
}

a {
    color: #4CAF50; /* Πράσινοι σύνδεσμοι για καλύτερη ανάγνωση */
}

h2, h3, h4 {
    color: #4CAF50; /* Πράσινοι τίτλοι */
}

pre {
    background-color: #333; /* Σκούρο γκρι background για το pre */
    padding: 1em;
    border-radius: 5px;
    overflow: auto;
}
form {
    max-width: 300px; /* Προσαρμόστε το μέγεθος όπως χρειάζεται */
    margin: 0; /* Κεντράρισμα της φόρμας */
    padding: 1em;
    background: #333; /* Χρώμα φόντου της φόρμας */
    border-radius: 5px;
    position: relative; /* Προσθέστε αυτό για να βεβαιωθείτε ότι το κουμπί submit είναι πάνω από άλλα στοιχεία */
    z-index: 1; /* Προσθέστε αυτό για να φέρετε το κουμπί submit πάνω από άλλα στοιχεία */
}

section#contact{
    padding: 1em 0;
}
#contact-form{
    display: flex;
    flex-direction: column;
}
label, input, textarea, button {
    margin-bottom: 0.5em;    
}
input, textarea {
    width: 100%;
}
.language-select {
    text-align: right;
    margin: 10px 20px;
}

.language-select select {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #000;
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    position: relative;
    z-index: 2;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

button[type="submit"]:active {
    background-color: #3e8e41;
}